.bandera {
    height: 100vh;
    border: solid;
    /* vamos a poner un position relative en este div */
    position: relative;
  }
  
  .green {
    height: 100vh;
    background-color: green;
    width: 40%;
    float: left;
  }
  
  .red {
    height: 100vh;
    background-color: red;
    width: 60%;
    float: right;
  }
  
  /* Nota: sabemos que la foto mide 180px x 180px */
  /* El cuadrado que lo contiene mide 200px x 2000px */
  /* para que la foto creza y ocupe esos pixeles  */
  /* podemos usar la propiedad cover */
  
  .escudo {
    background: url("../images/escudo-portugal.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(40% - 100px);
  }